<section class="event container">
    <header class="event-header">
        <h1 class="event-header__title">¡Eventos que no querrás perderte!</h1>
        <p class="event-header__subtitle">
            Vive momentos únicos con música, comedia y mucho más en un ambiente increíble.
        </p>
    </header>

    <section class="event-introduction">
        <h2 class="event-introduction__title">Explora lo que tenemos preparado para ti</h2>
        <p class="event-introduction__text">
            Nuestro restaurante se convierte en el epicentro de entretenimiento, donde cada evento está diseñado para sorprenderte. Disfruta de noches de música en vivo con artistas talentosos, monólogos que te harán reír sin parar, y espectáculos especiales que transformarán tu cena en una experiencia única.
        </p>
        <p class="event-introduction__text">
            Todos nuestros eventos son públicos y abiertos para todos los clientes, sin necesidad de reservas. Consulta nuestro calendario para conocer los próximos eventos y prepárate para compartir momentos únicos con tus amigos y familiares. ¡Te esperamos!
        </p>
    </section>

    <div class="event-list">
        <h2 class="event-list__title">PROXIMOS EVENTOS</h2>
        <p class="event-list__subtitle">Consulta la lista de nuestras próximas actividades y marca tu calendario.</p>
        <div class="event-list__cards">
            <app-event-card></app-event-card>
        </div>
    </div>
</section>
