.formulario {
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--body-color);
    position: relative;
}

.formulario__title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.formulario__info {
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
}

.formulario__campo {
    text-align: center;
}

.formulario__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input,
textarea {
    padding: 5px 10px;
    border-left: 1px solid rgb(184, 184, 184);
    width: 200px;
}

input:focus {
    border-left: 3px solid var(--first-color);
    outline: none;
}

.invalido {
    border-left: 3px solid var(--second-color);
}

.textarea {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.textarea label,
.formulario__campo {
    font-size: 14px;
}

.textarea textarea {
    width: 250px;
    height: 70px;
    resize: none;
    border: none;
    background-color: #f9f9f9; 
    padding: 10px;
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.textarea textarea:focus {
    outline: none; 
    border: 3px solid var(--first-color);;
}

.button {
    margin: auto;
    margin-top: 30px;
}

.button:disabled {
    background-color: hsla(349, 89%, 55%, 0.315);
    cursor: not-allowed;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgb(48, 48, 48);
    color: var(--body-color);
    transition: all 0.1s linear;
}

.close-button:hover {
    background-color: red;
}