<header class="header" id="header">
    <nav class="nav container">
        <a routerLink="" class="nav__logo">
            <img src="../../../assets/img/logo-white.png" alt="" class="nav__logo-img">
        </a>

        <div class="nav__menu" id="nav-menu">
            <a routerLink="" class="logo__mobile">
                <img src="../../../assets/img/logo-white.png" alt="" class="logo__mobile-img">
            </a>

            <ul class="nav__list">
                <li class="nav__item">
                    <a routerLink="about" class="nav__link" routerLinkActive="active-link">Sobre</a>
                </li>

                <li class="nav__item">
                    <a routerLink="menu" class="nav__link" routerLinkActive="active-link">Menu</a>
                </li>

                <li class="nav__item">
                    <a routerLink="booking" class="nav__link" routerLinkActive="active-link">Servicios</a>
                </li>

                <li class="nav__item">
                    <a routerLink="events" class="nav__link" routerLinkActive="active-link">Eventos</a>
                </li>

                <li class="nav__item">
                    <a routerLink="contact" class="nav__link" routerLinkActive="active-link">Contacto</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class="ri-close-circle-line"></i>
            </div>
        </div>

        <div class="nav__btns">
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>

            <button class="button" routerLink="booking" fragment="reservas">Reservas</button>
        </div>
    </nav>
</header>