<section class="error container">
    <div class="error-content">
        <h1 class="error-title">404</h1>
        <p class="error-message">¡Oops! No pudimos encontrar la página que buscas.</p>
        <p class="error-suggestion">
        Es posible que la página haya sido movida o que el enlace esté incorrecto.
        </p>
        <div class="error-links">
        <a routerLink="/" class="button">Ir a Inicio</a>
        <a routerLink="/contact" class="button">Contáctanos</a>
        </div>
    </div>
</section>