.error {
    display: flex;
    flex-direction: column;
    margin-top: 9.375rem;
    margin-bottom: 6.25rem;
    min-height: 21.25rem;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.error-title {
    font-size: 6.25rem;
    font-weight: bold;
    background: linear-gradient(145deg, var(--first-color), red, var(--first-color));
    background-size: 1000%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 3s ease-in-out infinite alternate;
}

@keyframes gradient-move {
    0% {
        background-position: 0% 100%;
    } 
    100% {
        background-position: 100% 0%;
    }
}

.error-message,
.error-suggestion {
    font-weight: bold;
}

.error-suggestion {
    margin-bottom: 1.25rem;
}

.error-links {
    display: flex;
    justify-content: center;
    gap: 6.25rem;
    padding-bottom: 1.25rem;
}