.booking {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
}

.booking-header {
    text-align: center;
    width: 95%;
    align-self: center;
}

.booking-header__title {
    font-size: 2.5rem;
    color: var(--first-color);
}

.booking-header__subtitle {
    font-size: 1.2rem;
    color: var(--body-color);
    margin-top: 10px;
}

.booking-introduction {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, var(--second-color) -50%, var(--first-color) 30% 70%, var(--second-color) 150%);
    border-radius: 10px;
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    align-self: center;
}

.booking-introduction__title {
    font-size: 1.8rem;
}

.booking-introduction__text {
    font-size: 1rem;
    line-height: 1.5;
}

.booking-cards {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 100px;
}

.booking-cards__title {
    margin: 50px 50px;
    color: var(--second-color);
    font-size: var(--h2-font-size);
}

.booking-cards__div {
    border: 10px solid transparent;
}

.booking-cards__divider {
    margin-top: 50px;
}

/* - - - - MODAL - - - - */
.booking-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    /* Estado inicial (modal oculto) */
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.booking-modal--visible {
    /* Estado activo (modal visible) */
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}