<section class="container">

    <header class="header">
        <h1 class="header__title">¡Reserva tu experiencia!</h1>
        <p class="header__subtitle">
            Descubre nuestros servicios y opciones de reserva, diseñados para hacer de cada visita un momento inolvidable.
        </p>
    </header>

    <section class="introduction">
        <h2 class="introduction__title">¿Qué te ofrecemos?</h2>
        <p class="introduction__text">
            En nuestro restaurante nos dedicamos a ofrecerte una experiencia completa, adaptada a tus necesidades. Desde recogidas rápidas hasta espacios exclusivos para momentos especiales, como celebraciones privadas o eventos corporativos.
        </p>
        <p class="introduction__text">
            Disfruta de terrazas acogedoras, zonas VIP y servicios personalizados diseñados para que cada visita sea única. ¡Explora nuestras opciones y encuentra la ideal para tu ocasión!
        </p>
    </section>

    <div class="cards">
        <h3 class="reservas">SERVICIOS</h3>
        <app-service-card></app-service-card>
        <hr>
        <h3 class="reservas">RESERVAS</h3>
        <app-booking-card></app-booking-card>
    </div>

</section>
