.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 150px;
}

.header {
    text-align: center;
}

.header__title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--first-color);
}

.header__subtitle {
    font-size: 1.2rem;
    color: var(--body-color);
    margin-top: 10px;
}

.introduction {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, var(--first-color) 40%, var(--second-color));
    border-radius: 10px;
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    align-self: center;
}

.introduction__title {
    font-size: 1.8rem;
}

.introduction__text {
    font-size: 1rem;
    line-height: 1.5;
}

.cards {
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    border-radius: 10px;
}

.reservas {
    margin-top: 30px;
    color: var(--second-color);
    font-size: var(--h3-font-size);
}