<section class="home" id="home">
    <div class="swiper home-swiper container">
        <h3 class="home__subtitle">Descubre nuestras promociones!</h3>
        <div class="swiper-wrapper">
            <!-- HOME SWIPER 1 -->
            <div class="swiper-slide home__content grid">
                <div class="home__data">
                    <h1 class="home__title">La Clásica</h1>
                    <p class="home__description">Disfruta un 20% de descuento en tu menú. Válido solo los fines de semana.</p>
                    
                    <a href="#menu" class="button">Saber más</a>
                </div>
                <img src="../../../assets/img/slide-1.png" alt="" class="home__img">
            </div>

            <!-- HOME SWIPER 2 -->
            <div class="swiper-slide home__content grid">
                <div class="home__data">
                    <h1 class="home__title">Sierra Grill</h1>
                    <p class="home__description">A la parrilla por 4.99€, te las vas a perder? Válido solo los fines de semana.</p>
                    
                    <a href="#menu" class="button">Saber más</a>
                </div>
                <img src="../../../assets/img/slide-2.png" alt="" class="home__img">
            </div>

            <!-- HOME SWIPER 3 -->
            <div class="swiper-slide home__content grid">
                <div class="home__data">
                    <h1 class="home__title">Bandejitas</h1>
                    <p class="home__description">Llevatela gratis con tu segundo menú. Válido solo los fines de semana.</p>
                    
                    <a href="#menu" class="button">Saber más</a>
                </div>
                <img src="../../../assets/img/slide-3.png" alt="" class="home__img">
            </div>

            <!-- HOME SWIPER 4 -->
            <div class="swiper-slide home__content grid">
                <div class="home__data">
                    <h1 class="home__title">Las Ibéricas</h1>
                    <p class="home__description">Descuento del 50% en la segunda unidad. Válido solo los fines de semana.</p>
                    
                    <a href="#menu" class="button">Saber más</a>
                </div>
                <img src="../../../assets/img/slide-4.png" alt="" class="home__img">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>