/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&family=Fredoka+One&display=swap');

/* VARIABLES */
:root {
    --header-height: 5.5rem;

    /* colors */
    --first-color: hsl(49, 100%, 53%);
    --second-color: hsl(349, 89%, 55%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 33%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(218, 67%, 98%);

    /* font and typography */
    --body-font: "Epilogue", sans-serif;
    --second-font: "Fredoka One", sans-serif;
    --biggest-font-size: 5.5rem;
    --bigger-font-size: 3.75rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --larger-font-size: 1.25rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;

    /* font weight */
    --weight-400: 400;

    /* transition */
    --transition: ease-in-out;
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-image: url(assets/img/home-bg.jpg);
    color: var(--text-color);
}

input,
button {
    outline: none;
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--weight-400);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.875rem;
}

img {
    max-width: 100%;
}

/* REUSABLE CLASSES */
.container {
    max-width: 1320px;
    padding-inline: 0.75rem;
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* button */
.button {
    display: block;
    color: var(--body-color);
    font-family: var(--second-font);
    letter-spacing: 2px;
}

.button {
    width: fit-content;
    padding: 0px 20px;
    height: 50px;
    position: relative;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    background-color: var(--second-color);
}

.button {
    border-radius: .75rem;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    width: 100px;
    height: 100%;
    background: rgba(255, 255, 255, 0.226);
    transform: skewX(-45deg);
    animation: lightMove 1.5s linear infinite;
}

@keyframes lightMove {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}

/* swiper */
.swiper-pagination {
    position: initial;
    margin-top: 4rem;
    display: flex;
    align-self: center;
    justify-self: center;
    column-gap: .25rem;
}

.swiper-pagination-bullet {
    opacity: 1;
    width: 14px;
    height: 14px;
    background-color: hsl(0, 0%, 71%);
}

.swiper-pagination-bullet-active {
    border: 5px solid var(--second-color);
    background-color: transparent;
    padding: .25rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-button-next,
.swiper-button-prev {
    border: 1px solid var(--body-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--body-color);
    font-size: var(--larger-font-size);
    top: 95%;
    transition: all 0.3s var(--transition);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--second-color);
    border-color: var(--second-color);
}

.swiper-button-next {
    right: 1rem;
}

.swiper-button-prev {
    left: 1rem;
}




